HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#service firebase key
/src/main/resources/ezbudget-test-3eb45-firebase-adminsdk-fkwdw-5a5e9ccd65.json/

#firebaseconfig
C:\Users\chamsol\Documents\project\CoBook-BE\src\main\java\com\cobook\CoBook_BE\config\FirebaseConfig.java

